<% content_for :title do %>
  <%= "ロック解除 | ACB" %>
<% end %>

<div id="form">
  <h1>ロックを解除</h1>
  <p>ロックを解除するには入力したメールアドレスあてに届いたメールの指示に従ってください。</p>

  <%= form_for(resource, as: resource_name, url: unlock_path, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "require" %>
    </div>

    <script>
      $(function(){
        // メールアドレスとパスワードを入力したらsubmitできる
        setInterval(function(){
          let value = $(".require").val();
          if ( value == "" || !value.match(/[^\s\t]/) ) {
            $("#btn").css({"background":"rgba(0,255,255,0.5)"});
            $("#btn").prop("disabled", true);
          } else {
            $("#btn").css({"background":"rgba(0,255,255,1)"});
            $("#btn").prop("disabled", false);
          }
        },1000);
      });
    </script>

    <div class="actions">
      <%= f.submit "SEND", disabled:true, id:"btn" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
