<div class="nested-fields">
  <div class="field">
    <% if f.object.name.present? %>
      <%= f.text_field :name, maxlength: "50", placeholder: "sourcecode name", class:"code_name" %>
    <% else %>
      <%= f.text_field :name, maxlength: "50", placeholder: "sourcecode name", class:"code_name code_none" %>
    <% end %>
  </div>

  <div class="field">
    <% if f.object.source.present? %>
      <%= f.text_area :source, maxlength: "50000", placeholder: "", class:"code_source" %>
    <% else %>
      <%= f.text_area :source, maxlength: "50000", placeholder: "", class:"code_source code_none" %>
    <% end %>
  </div>

  <div class="field">
    <% if f.object.description.present? %>
      <%= f.text_area :description, maxlength: "50000", placeholder: "", class:"code_description" %>
    <% else %>
      <%= f.text_area :description, maxlength: "50000", placeholder: "", class:"code_description code_none" %>
    <% end %>
  </div>

  <div class="field">
    <% if f.object.image? %>
      <div class="imagePreview image_there"><%= image_tag(f.object.image_url) %></div>
      <label class="remove_label"><%= f.check_box :remove_image, class:"remove_image_btn code_image" %>画像を削除</label>
    <% else %>
      <div class="imagePreview image_none"></div>
      <label class="remove_label" style="display:none;"><%= f.check_box :remove_image, class:"remove_image_btn code_image" %>画像を削除</label>
    <% end %>
  </div>

  <div class="field">
    <% if f.object.url.present? %>
      <%= f.text_field :url, maxlength: "300", placeholder: "URL", class:"code_url" %>
    <% else %>
      <%= f.text_field :url, maxlength: "300", placeholder: "URL", class:"code_url code_none" %>
    <% end %>
  </div>


  <div class="code_btns">
    <ul>
      <li class="code_name_btn btn <%= "there" if f.object.name.present? %>"><i class="fas fa-heading"></i></li>
      <li class="code_source_btn btn <%= "there" if f.object.source.present? %>"><i class="fas fa-code"></i></li>
      <li class="code_description_btn btn <%= "there" if f.object.description.present? %>"><i class="far fa-comment-alt"></i></li>
      <li class="code_image_btn btn <%= "there" if f.object.image.present? %>"><label><i class="fas fa-image"></i><%= f.file_field :image, class: "uploadFile code_image", style: "display:none" %><%= f.hidden_field :image_cache %></label></li>
      <li class="code_url_btn btn <%= "there" if f.object.url.present? %>"><i class="fas fa-link"></i></li>
    </ul>
  </div>

  <div class="minus_field"><%= link_to_remove_association "ー", f, class: "minus" %></div>
</div>
